@import url('https://fonts.googleapis.com/css?family=Abel|Permanent+Marker');


body {
    background-color: bisque;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Permanent Marker', cursive;
}

p {
    font-family: 'Abel', sans-serif;
}